/* Jenn Stuart, Chi Njoku, Arthur Spence, Ron Becker
   Project 1
   UTexas PTF Coding 2019 */

   /* Fonts:
   font-family: 'Chakra Petch', sans-serif;
   font-family: 'Allerta Stencil', sans-serif; */


/* header style sheet */

html, body {
    margin: 0;
    padding: 0;
    font-family:'Allerta Stencil', sans-serif;
    line-height: 1.5;
    color: whitesmoke;
    height: 1000px;
    /*Scale image based on window size*/
    background-image: url("../images/background/background.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* image: ;
    opacity: ;  */
    /*Properties for sticky footer, flexbox for variable height*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
footer {
    font-family: 'Chakra Petch', sans-serif;
    opacity: .93;
    margin-top: 5%;
    text-align: center;
    font-size: 98%;
}

/* Classes */

.logo {
    width: 12%; height: 8%;
}
.navbar {
    height: 15%;
    padding: 0px 1% 0px 0px;
    opacity: .89;
    /* position: fixed; */
    position:fixed;
    z-index: +2;
}
.container-fluid {
    width:100%;
    margin:0;
    padding:0;
    height: 45%;
}
.nav-link{
    font-family: 'Chakra Petch', sans-serif;
    color:red;
    font-size: 120%;
}
.navbar-text {
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 320%;
}
@media only screen and (max-width: 900px) {
   .navbar-text {
      width: 100%;
          left: 0;
          text-align: center;
          margin: auto;
          font-size: 240%;
    }
  }
  @media only screen and (max-width: 400px) {
    .navbar-text {
       width: 100%;
           left: 0;
           text-align: center;
           margin: auto;
           font-size: 140%;
    }
        .card{
            margin-top: 20%;
            margin-bottom: 14%;
        }
    
   }

/* Dropdown Button */
.dropbtn {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #3498DB;
    color: white;
    padding: 1.2em;
    font-size: 100%;
    border: none;
    cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ddd
    }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
      display:block;
    }

/* IDS */

#dropdowndiv {
    margin-top: 7%;
}

#employeeDropDownForm {
    margin-top: 7%;
}

#main-heading {
    width: 30%;
    padding: 0%;
    position: fixed;
	top: 0;
}

#results {
    margin-top: 5%;
    margin-bottom: 5%;
}

#safetyCerts {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* CSS FOoter Code */
.footer-distributed{
 position: fixed;
 bottom: 0;
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 100% sans-serif;
    padding-left: 1%;
    padding-top: -1%;
 
  
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: bottom;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 100% 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 5% 0 1em;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 80%;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 80%;
	width: 100%;
	height: 150%;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 1.0em;
	line-height: 1.0em;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 80%;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 105%;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
        font: bold 100% sans-serif;
        position: fixed;
        margin-bottom:-80%;
    }
    h4{
        font-size: 90%;
    }
    h3 {font-size: 75%;
    }
    h2 {
        font-size: 55%;
    }
    h1 {
        font-size: 40%;
    }

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
        
		display: block;
		width: 100%;
	text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
